<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="comment">

	<insert id="create" parameterType="CommentVO">
		INSERT INTO comment(bno, content, mno) VALUES(#{bno}, #{content}, #{mno});
	</insert>
	
	<update id="update" parameterType="CommentVO">
		UPDATE comment 
		SET content = #{content} 
		WHERE cno = #{cno};
	</update>
	
	<delete id="delete">
		DELETE FROM comment 
		WHERE cno = #{cno}
	</delete>
	
	<select id="readAll" parameterType="java.lang.Integer" resultType="java.util.HashMap">
		SELECT c.cno, c.bno, c.regdate, m.name, c.content, m.mno
		FROM comment c, member m 
		WHERE bno = #{bno} and c.mno = m.mno;
	</select>
	
	<select id="count" resultType="int">
		SELECT count(*) FROM comment WHERE bno=#{bno};
	</select>
	
	<select id="currentComment" resultType="CommentVO">
		SELECT bno, content FROM comment ORDER BY regdate DESC LIMIT 1,7;
	</select>
</mapper>