<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qna">

	<insert id="insert" parameterType="QnaVO" useGeneratedKeys="true" keyProperty="qno">
		INSERT INTO qna (qno, groupno, seq, depth, title, content, mno)
		VALUES (default, #{groupno}, #{seq}, #{depth}, #{title}, #{content}, #{mno})
	</insert>
	<update id="groupUpdate">
		UPDATE qna SET groupno = #{qno} WHERE qno = #{qno};
	</update>
	<update id="update">
		UPDATE qna SET title = #{title}, content = #{content} WHERE qno = #{qno}
	</update>
	
	<update id="delete">
		UPDATE qna SET title = '삭제된 글입니다.', content = '', del = 1 WHERE qno = #{qno}
	</update>
	
	<select id="read" resultType="java.util.HashMap">
		SELECT q.qno, q.title, q.content, q.regdate, q.recommend, q.view, q.comment, q.groupno, q.seq, q.depth, m.mno, m.name
		FROM qna q, member m
		WHERE q.mno = m.mno AND qno = #{qno}; 
	</select>
	
	<select id="readAll" resultType="java.util.HashMap">
		SELECT q.qno, q.qno, q.title, q.regdate, q.recommend, q.view, q.comment, q.seq, q.del, m.name
		FROM qna q, member m
		WHERE q.mno = m.mno
		<include refid="search"></include>
		ORDER BY q.groupno DESC, q.depth ASC, q.seq ASC
		LIMIT #{pageStart}, 20;
	</select>
	
	<select id="countAll" resultType="int">
		SELECT count(*)
		FROM qna q, member m
		WHERE q.mno = m.mno
		<include refid="search"></include>
	</select>
	
	<update id="viewUpdate">
		UPDATE qna SET view = view + 1 WHERE qno = #{qno}
	</update>
	<update id="increasecom">
		UPDATE qna SET comment = comment + 1 WHERE qno = #{qno}
	</update>
	
	<update id="decreasecom">
		UPDATE qna SET comment = comment - 1 WHERE qno = #{qno}
	</update>
	
	<update id="increaserecom">
		UPDATE qna SET recommend = recommend + 1 WHERE qno = #{qno}
	</update>
	
	<update id="decreaserecom">
		UPDATE qna SET recommend = recommend - 1 WHERE qno = #{qno}
	</update>
	
	<select id="popularPost" resultType="BoardVO">
		SELECT qno, title FROM qna ORDER BY view DESC, recommend DESC LIMIT 1,7
	</select>
	
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 1">
				AND title LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 2">
				AND q.content LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 3">
				AND m.name LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 4">
				AND (q.title LIKE CONCAT('%', #{keyword}, '%')
				OR q.content LIKE CONCAT('%', #{keyword}, '%')
				OR m.name LIKE CONCAT('%', #{keyword}, '%'))
			</if>
		
		</if>
	</sql>

</mapper>